
.sidebar-content {
  padding: 10px;
  color: #29343d;
}
html .MuiDrawer-paper, html .MuiPaper-root{
  position:relative !important
 
}
html .MuiListItemIcon-root{
  display: none !important;
}
.iconstyle{
  margin-right: 10px;
}